/* Clases */

.parallax {
    background-image: url(/helloweb/images/office.jpg);
    /* Create the parallax scrolling effect */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1 {
    padding-top: 3em;
}

.parallax h2 {
    padding-top: 0.5em;
}