body {
    font-size: 16px;
    font-family: 'Montserrat', 'Roboto';
}

h1 {
    color: #0099CC;
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    line-height: 30px;
}

table {
    width: 50%;
    margin: auto;
    background-color: white;
    text-align: center;
    border-collapse: separate;
    border-spacing: 2px;
}

table caption {
    font-size: 2em;
}

table td {
    width: 50%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    vertical-align: middle;
}

td:hover {
    background-color: rgb(24, 123, 236);
}

/* Formulario */

input[type="text"]:valid {
    color: green;
}

input[type="text"]:invalid {
    color: red;
}

ol, ul, dl {
    padding-left: 20px;
    margin-top: 20px;
}

ol li {
    list-style-type: decimal;
    line-height: 30px;
}

ul li {
    list-style-type: circle;
    line-height: 30px;
}