/* CSS para Arkanoid */

* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: monospace;
    color: #333333;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}